{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar bg-white navbar-white navbar-expand-lg shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand  cHover cGreen fs-2" href="{% url 'index' %}">
                    Welcome
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0  fs-5">
                        <li class="nav-item">
                            <a class="nav-link active cHover" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="#contact">Contact us</a>
                        </li>     
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'reservation' %}">Online reserving</a>
                        </li>                   
                        {% if user.is_authenticated %}
                        <!--Teacher Link-->
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'teacherPanel' %}">Teacher panel</a>
                        </li> 
                        <li class="nav-item dropdown me-3 fs-5">
                            <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              User
                            </a>
                            <ul class="dropdown-menu  border zNav">
                              <li><a class="dropdown-item" href="{% url 'userPanel' %}">User panel</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item me-3">
                            <a class="nav-link active cHover" href="{% url 'register' %}">Sign in/Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        

        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success  alert-dismissible fade show text-center " role="alert">
                <h3 class="display-3">{{ message }}</h3>
                <button type="button" class="btn-close fs-1 position-absolute top-50 start-0 translate-middle-y" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}


    </header>


    {% block body %}
    {% endblock %}
    <footer class="bg-dark text-white">
        <div class="container-fluid pt-3">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                  <div class="row mt-3 text-center">
            
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h5 class="text-uppercase fw-bold mb-4 textGradient" id="contact">
                            Contact us
                        </h5>
                        <p>
                            <a href="number" class=""><span class="cBlue">Number</span></a>
                        </p>
                        <p>
                            <a class="uLine cHover" href="{% url 'reservation' %}" >Online reserving</a>
                        </p>
                    </div>
                    

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h5 class="text-uppercase fw-bold mb-4 textGradient">
                            Reservations
                        </h5>
                        <p>
                            <a href="#!" class="uLine">Tiny room</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Medium room</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Large room</a>
                        </p>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </footer>
  </body>
</html>